<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<p>Hints:</p>
<% @sent_requests.each do |request|%>
  <% if request.requested_user == @user && !@user.matched_users.include?(request.user) %>
    <li>Mod<%= request.user.mod  %></li>
    <li><%= request.user.likes  %></li>
    <br>
  <% end %>
<% end %>

<%= form_tag matches_path do %>
  <%= label_tag "Enter the full name" %>
  <%= text_field_tag "user[full_name]" %>
  <%= submit_tag "Submittt" %>

<% end %>
