<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<style media="screen">
  div.matchbox {
    text-align: center;
    margin-top: 100px;
  }
</style>

  <div class="matchbox">

    <h3>Hints:</h3>
    <% if @sent_requests %>
    <% @sent_requests.each do |request| %>
      <% if request.requested_user == @user && !@user.matched_users.include?(request.user) %>
          <li>Mod<%= request.user.mod  %></li>
          <li><%= request.user.hobbies  %></li>
          <br>
        <% end %>
      <% end %>
    <% else %>
      <p>You have no new sent requests</p>
    <% end %>

    <br>
    <br>
    <%= form_tag matches_path do %>
    <h4><%= label_tag "Enter the full name" %></h4>
    <%= text_field_tag "user[full_name]" %>
    <%= submit_tag "Are you sure? ðŸ™" %>

    <% end %>
  </div>
