<h3>Sign Up</h3>
<br>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<%= form_for (@user) do |f| %>
  <%= f.label :user_name%>
  <%= f.text_field :user_name %><br>
  <%= f.label :password%>
  <%= f.password_field :password %><br>
  <%= f.submit "Click Here to Sign Up" %><br>
<% end %>
