<h1> Welcome <%= @user.full_name %>! </h1>
<br>
<br>

<div class = "wrapper">

  <div class="box1">
    <h3> Sent Requests To:</h3>
    <% @user.requested_users.each do |requested_user| %>
      <li><%= requested_user.full_name %></li>
      <br>
    <% end %>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Send a new request", new_sent_request_path %>
    </button>
  </div>

  <div class="box2">
    <h3> Number of Friends: </h3>
        <%= @user.matches.count %>
        <br>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to "Guess to Match", new_match_path %>
        </button>
  </div>

  <div class="box3">
    <h3> Matched Friends: </h3>
    <% @user.matched_users.each do |matched_user| %>
      <li><%= link_to matched_user.full_name, profile_path(matched_user) %></li>
    <% end %>
    <br>
  </div>


</div>
