<!DOCTYPE html>
<html>
  <head>
    <title>FlatIron MeetnGreet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Flatiron MeetnGreet</h1>
    <%  if current_user %>
      <%= form_tag "/logout", method: :delete do %>
      <%= submit_tag "Logout" %>
      <%= link_to "Go to your Profile", user_path(current_user) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
